/* To amend font using google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Raleway:wght@500&display=swap');

body{
    font-family: 'Calligraffitti', sans-serif;
}

/* Scroll to top button  */
#button {
  display: inline-block;
  background-color: green;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.scroll-top-icon{
font-size: 33px;
padding-top: 9px;

}
#button:hover {
  cursor: pointer;
  background-color: greenyellow;
}
#button:active {
  background-color: greenyellow;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.paragraph-style{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.image-carousel{
    height: 600px;
    width: 100%;
    padding-top: 50px;
    }

/* Line Break Styling */
hr { 
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  border-style: inset;
  border-width: 3px;
  border-color: green;
  margin-bottom: 30px;
  margin-top: 30px;
} 

.tab-container{
    padding: 0px;
    margin: 0px;
}

/* About-heading read more/less button Styling */
#more {
    display: none;
}

button#myBtn{
    margin-left: 20px;
    padding-left: 5px;
    background-color: green;
    
}

/* Style the images in about section */
.about-photo {
    float: right;
    border: 2px solid green;
    border-radius: 4px;
    margin: 0px 0px 15px 20px;
    height: 150px;
    width: 300px;
}

/* Style the tab */

.tab-container {
    text-align: center;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: auto;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
  font-size: 17px;
  display: inline-block;
  list-style-type: none;
  text-align: center;
  position: relative;
  font-family: 'Raleway', sans-serif;
  background-color: green;


}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 3s;
  animation: fadeEffect 3s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.responsive{
    width: 100%;
    height: auto;
    border: 2px solid green;
    border-radius: 4px;
    padding: 5px;
}

.tab-headers{
    text-align: center;
    font-family: 'Calligraffitti', sans-serif;
    font-weight: 500;
}

.tab-details{
     font-family: 'Raleway', sans-serif;
}
.tab-section{
    padding: 10px;
}



/* Background photo on contact us Styling */
.fixed-bg {
  background: linear-gradient( rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10) ), url('../images/Donegal_town.jpg') fixed no-repeat;
     -webkit-background-size: cover;
     background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     width: 100%;
  height: auto;    
}

/* Social Links on Footer Styling */

#social-links-heading{
    word-spacing: 1px;
}

.social-links{
    font-size: 30pt;
    word-spacing: 15pt;
    background-color: greenyellow;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.social-links a{
    color: black; 
    margin-left: 10px;
    margin-right: 10px;
}
.social-links a:hover{
    color: green;
    text-decoration: none;
}

/* Contact Us Styling */
.heading-contact-us{
    color: #fff;
    background-color: rgba(14, 196, 74, 0.6);
    padding: 15px;
    border-radius: 20px;
    margin: auto;
    width: 300px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

.section-contact-details{
    height: 530px;
    font-family: 'Raleway', sans-serif;
}

.section-form{
    height: 530px;
    font-family: 'Raleway', sans-serif;
}

div.row{
    margin: 0px;
}
.contact-details{
    margin: 15px;
    color: #fff;
    background-color: rgba(14, 196, 74, 0.6);
    max-width: 340px;
    padding: 15px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
   }

.contact-icon{
    font-size: 30px;
    text-align: center;
    padding: 43px 0px 10px 0px;
}

.contact-address{
    text-align: center;
}

.signup-form{
    margin: 15px;
    color: #fff;
    background-color: rgba(14, 196, 74, 0.6);
    max-width: 340px;
    padding: 15px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    }

.signup-form h2{
    color: #fafafa;
    margin-bottom: 7px;
  }
.text-input{
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  border: solid 1px #fafafa;
  border-radius: 2px;
  margin-bottom: 10px;
}
.text-input:hover{
border-color: green;
  }
.form-control{
  background-color: transparent;
  color: #fafafa;
  width: 100%;
 
  margin: 3px 0 3px 0;
  border: solid 1px #fafafa;
  border-radius: 2px;
}
.form-control:hover{
border-color: green;
  }
  .join-button{
  margin-top: 3px;
  border-radius: 2px;
  padding: 3px 3px 3px 3px;
  text-align: center;
  font-size: 100%;
  background-color: green;
  color: #fafafa;
  display: inline-block;
}
.join-button:hover{
  background-color: #fafafa;
  color:green;
}

label{
    margin-bottom: 1px;
}

/* Google Map Styling */
div#map {
    max-width: 100%;
    margin: 20px;
    height: 350px;
    border: 2px solid green;
    border-radius: 10px;
   
}