/* To amend font using google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Raleway:wght@500&display=swap');

body{
    font-family: 'Calligraffitti', sans-serif;
}

.image-carousel{
    height: 250px;
    width: 100%;
}

/* Social Links on Footer Styling */

.social-links{
    font-size: 30pt;
    word-spacing: 15pt;
    background-color: greenyellow;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.social-links a{
    color: black; 
    margin-left: 10px;
    margin-right: 10px;
}
.social-links a:hover{
    color: green;
    text-decoration: none;
}

/* Contact Us Styling */

.section-form{
    height: 700px;
}
.signup-form{
    margin-top: 100px;
    margin-bottom: 50px;
    color: #fff;
    background-color: rgba(14, 196, 74, 0.6);
    max-width: 400px;
    position: absolute;
    padding: 30px 30px 30px 30px;
    left: 2%;
    border-radius: 20px;
  }
  .signup-form h2{
    color: #fafafa;
    margin-bottom: 20px;
  }
.text-input{
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: solid 1px #fafafa;
  border-radius: 2px;
}
.text-input:hover{
border-color: green;
  }
.form-control{
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 75px;
  margin: 5px 0 20px 0;
  border: solid 1px #fafafa;
  border-radius: 2px;
}
.form-control:hover{
border-color: green;
  }
  .join-button{
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: green;
  color: #fafafa;
  display: inline-block;
}
.join-button:hover{
  background-color: #fafafa;
  color:green;
}

/* Google Map Styling */
div#map {min-height: 360px;}